.form {
  align-items: center;
  text-align: center;
  color: #666666;
}

input {
  padding: .8em;
  margin: 10px;
  border-radius: 0px;
  border: 1px solid #c8c8c8;
}

button {
  border-radius: 0px;
  background-color: #c8c8c8;
  border: none;
  padding: .8em 1.5em;
  margin-bottom: 2em;
}


