@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
  font-family: Montserrat, sans-serif;
}

h1, h2 {
  font-weight: 300;
}

.align-center {
  text-align: center;
}
